%nav
  .wrapper
    .logo
      = link_to '/' do
        = image_tag 'images/taverna.png'
    %ul
      %li
        = link_to 'Menus', '#'
      %li
        = link_to 'About', '/about.html'
      %li
        = link_to 'On the Go'
      %li
        .ui.dropdown
          .text Special Events
          .menu
            .item
              = link_to 'Private Dining', '/private-dining.html'
            .item
              = link_to 'Catering', '/catering.html'
      %li
        = link_to 'Gift Cards'
      %li
        = link_to 'Visit'
    .hours
      Today's Hours
      %span 11am-10pm
    .info
      904.398.3005
      = link_to 'contact@tavernasanmarco.com', 'mailto:contact@tavernasanmarco.com'
    = link_to '#', class: 'collapse-menu' do
      %i.ion-navicon-round

:javascript
  // Dropdowns
  $('.ui.dropdown')
    .dropdown()
  ;
