%nav
  .pre-nav
    .wrapper
      %ul
        %li
          = link_to 'About', '/about.html'
        %li
          = link_to 'Gift Cards', '/gift-cards.html'
  .wrapper
    .logo
      = link_to '/' do
        = image_tag '../images/taverna.png'
    %ul
      %li
        .ui.dropdown
          %span Menus
          .menu
            -# .item
            -#   = link_to 'Dinner', '/dinner.html', class: 'active'
            -# .item
            -#   = link_to 'Lunch', '/lunch.html'
            -# .item
            -#   = link_to 'Brunch', '/brunch.html'
            -# .item
            -#   = link_to 'Dessert', '/dessert.html'
            .item
              = link_to 'Food & Drink', '/prepared-food.html'
            .item
              = link_to 'Bottled Wine', '/wine-liquor.html'
            .item
              = link_to 'Happy Hour', '/groceries.html'
      %li
        = link_to 'Reservations', '#resy'
      -# %li
      -#   = link_to 'Private Dining', '/private-dining.html'
      -# %li
      -#   = link_to 'Catering', '/catering.html'
      %li
        = link_to 'Contact', '#contact'
      %li.order-now
        = link_to 'Order Here', '/order-online/', {class: "button"}
    = link_to '#', class: 'collapse-menu' do
      %i.ion-navicon-round
    .ui.basic.modal.mobile-nav
      .close
        %i.ion-close-round
      = link_to 'Order Now', '/order-online/', {class: "button"}
      = link_to 'Food & Drink', '/prepared-food.html'
      = link_to 'Bottled Wine', '/wine-liquor.html'
      = link_to 'Happy Hour', '/groceries.html'
      = link_to 'About', '/about.html'
      = link_to 'Gift Cards', '/gift-cards.html'
      = link_to 'Reservations', '#resy'
