%nav
  .wrapper
    .logo
      = image_tag 'images/taverna.png'
    %ul
      %li
        = link_to 'Menus', '#', class: 'dropdown-button'
      %li
        = link_to 'About'
      %li
        = link_to 'On the Go'
      %li
        = link_to 'Special Events'
      %li
        = link_to 'Gift Cards'
      %li
        = link_to 'Visit'
    .hours
      Today's Hours
      %span 11am-10pm
    .info
      904.398.3005
      = link_to 'contact@tavernasanmarco.com', 'mailto:contact@tavernasanmarco.com'
    = link_to '#', class: 'collapse-menu' do
      %i.ion-navicon-round
