= partial 'refills/nav'

%section.main-content#order-online
  .wrapper
    %article
      %h1 Order Online
      -# %p Copy needed here: Maybe something here explaining the 2 options maybe? Or talking about pick up and delivery. Or some sort of stipulations or guidance.
      .back-button-wrapper
        = link_to 'Back', '/order-online/', {class: "button-back"}
      %p How will you receive your order?
      .order-methods
        .row
          = link_to 'Pick Up', 'https://ordering.chownow.com/order/13240/locations/18553?add_cn_ordering_class=true', {class: "button-white"}
        .row
          = link_to 'Delivery with BiteSquad', 'https://www.bitesquad.com/food/taverna/16504', {target: "_blank", class: "button-white"}
          = link_to 'Delivery with DoorDash', 'https://www.doordash.com/store/taverna-jacksonville-440161/en-US', {target: "_blank", class: "button-white"}



= partial 'refills/footer'
