= partial 'refills/nav'

%section.main-content#order-online
  .wrapper
    %article
      %h1 Order Online
      -# %p Copy needed here: Maybe something here explaining the 2 options maybe? Or talking about pick up and delivery. Or some sort of stipulations or guidance.
      .back-button-wrapper
        = link_to 'Back', '/order-online/', {class: "button-back"}
      %p How will you receive your order?
      .order-methods
        %ul
          %li.order-individual<>
            = link_to 'Pick Up', '#', {class: "full-width button-white chownow-order-online"}
          %li.order-catering<>
            = link_to 'Delivery', 'https://www.bitesquad.com/food/taverna/16504', {target: "_blank", class: "full-width button-white"}

= partial 'refills/opentable'

= partial 'refills/footer'
