= partial 'refills/nav'

%section.about
  .wrapper
    %aside
      %h2
        About
    %article
      .cta
        .content
          %p
            Taverna draws inspiration from the simplicity and warmth of rustic Italian kitchens. Located in Jacksonville’s historic San Marco neighborhood, this rustic, yet sophisticated dining destination has earned many accolades since opening in 2009.

%section.main-content
  .wrapper
    %article
      %h1 Staff
      %ul.inline
        %li
          %p
            Executive Chef Sam Efron and Wine Director Kiley Wynne Efron, a husband-and-wife team, opened Taverna after building their careers in some of the finest restaurants in the country. Together, they ensure Taverna delivers a fresh perspective on Italian dining. Their seasonal menus, curated wines, and handcrafted cocktails let the flavors of simple ingredients shine.
        %li
          = image_tag 'images/staff.jpg'
      %h5 Sam Efron
      %small
        %i Executive Chef / Proprietor
        = link_to 'sam@tavernasanmarco.com', 'mailto:sam@tavernasanmarco.com'
      %p Jacksonville native Sam Efron developed his culinary style through formal and experiential training. He discovered European cuisine while living abroad as an exchange student from Florida State University. Upon graduating, he enrolled in the Culinary Institute of America. Sam refined his skills at landmark restaurants such as Four Seasons Hotel in New York, Gramercy Tavern, Aqua, and Silks at The Mandarin Oriental Hotel in San Francisco. Once he returned to Jacksonville, Sam assisted in the opening of Restaurant Orsay. In 2009 he opened Taverna with his wife, Kiley.
      %h5 Kiley Wynne Efron
      %small
        %i Wine Director / Proprietor
        = link_to 'kiley@tavernasanmarco.com', 'kiley@tavernasanmarco.com'
      %p Kiley Wynne Efron’s passion for Italian food and wine helps define Taverna. As the restaurant's Wine Director, Kiley is always on the hunt for great wines to add to her Wine Spectator award-winning list. Kiley's professional background includes time spent at some of California’s finest restaurants, including A16 and Rivoli. Kiley is a graduate of the California College of the Arts. She is also a First Level Sommelier with certification from the Court of Master Sommeliers.
      %ul
        %li
          %h5 Brian Binniker
          %small
            %i Managing Partner / General Manager
            = link_to 'brian@tavernasanmarco.com', 'brian@tavernasanmarco.com'
        %li
          %h5 Gala Dugan
          %small
            %i Managing Partner / Operations Manager
            = link_to 'gala@tavernasanmarco.com', 'gala@tavernasanmarco.com'
        %li
          %h5 Tina Orr
          %small
            %i Assistant General Manager
            = link_to 'tina@tavernasanmarco.com', 'tina@tavernasanmarco.com'
        %li
          %h5 Liam Beckford
          %small
            %i Restaurant Manager
            = link_to 'liam@tavernasanmarco.com', 'liam@tavernasanmarco.com'
        %li
          %h5 Linsey Haas
          %small
            %i Private Dining / Events Coordinator
            = link_to 'catering@tavernasanmarco.com', 'catering@tavernasanmarco.com'

      %h1 Job Opportunities
      %p
        Our staff combines talent, passion, and hard work to create memorable moments for our guests. We take pride in giving our team members hands-on training in the world of Italian food and wine. In turn, we ask that our staff take pride in their role within our restaurant family. We’re big believers in personality, fun, and professional development. To learn more about joining our team, please email your resume to
        = link_to 'contact@tavernasanmarco.com.', 'mailto:contact@tavernasanmarco.com'
      = link_to 'Apply Online', '#', class: 'button'
    %aside
      Sidebar

= partial 'refills/opentable'

= partial 'refills/footer'
