= partial 'refills/nav'

%section.dessert
  .wrapper
    %aside
      %h2.heading
        Dessert
    %article

%section.main-content
  .wrapper
    %article
      %p
        %i
          Menu items are subject to change based on seasonality and availability. Please call the restaurant for the most up-to-date menus and daily specials.
      %br
      %figure
        %table.menu{cellspacing: '0', cellpadding: '0'}
          %thead
            %th{colspan: '2'} DESSERTS
          %tbody
            %tr
              %td
                %h5
                  CHOCOLATE PAVÉ
                  %span GF
                %p orange mascarpone, candied pistachios
              %td
                10
            %tr
              %td
                %h5
                  BUTTERSCOTCH BUDINO
                %p cocoa nib tuille
              %td
                8
            %tr
              %td
                %h5
                  Italian Cream Cake
                %p
                  lemon olive oil chiffon cake, cassata cream, fresh berries
              %td
                10
            %tr
              %td
                %h5
                  Tiramisu Panna Cotta
                %p espresso and mascarpone custard, chocolate dipped lady fingers
              %td
                10
            %tr
              %td
                %h5
                  MINI MINT CHIP ICE CREAM SANDWICHES
                %p chocolate wafer cookies, fresh mint ice cream
              %td
                10
            %tr
              %td
                %h5
                  COOKIE PLATE
                %p assorted house made cookies
              %td
                6
            %tr
              %td
                %h5
                  Trio of HOUSE-MADE GELATOS &amp; SORBETTOS
                %p please see your server for flavors
              %td
                9
        %table.menu{cellspacing: '0', cellpadding: '0'}
          %thead
            %th{colspan: '2'}
              Dessert Wines
          %tbody
            %tr
              %td
                %h5
                  Quinta do Noval ‘Black
                %p Portugal
              %td
                7
            %tr
              %td
                %h5
                  Dow’s, 10 year Tawny Port
                %p Portugal
              %td
                10
            %tr
              %td
                %h5
                  Graham’s, 20 year Tawny Port
                %p Portugal
              %td
                15
            %tr
              %td
                %h5
                  Donnafugata, Ben Ryè
                %p Passito, Sicily, Italy 2007
              %td
                12
            %tr
              %td
                %h5
                  La Fleur d’Or, Sauternes
                %p France
              %td
                15
            %tr
              %td
                %h5
                  Alvear, ‘Solera’, Pedro Ximenez
                %p 1927
              %td
                10

      %figure
        %table.menu{cellspacing: '0', cellpadding: '0'}
          %thead
            %th{colspan: '2'}
              Coffee
              %p
                Bold Bean Coffee Roasters
          %tbody
            %tr
              %td
                %h5
                  REGULAR OR DECAF
              %td
                3
        %table.menu{cellspacing: '0', cellpadding: '0'}
          %thead
            %th{colspan: '2'}
              ESPRESSO
              %p Nespresso
          %tbody
            %tr
              %td
                %h5
                  SINGLE ESPRESSO
              %td
                3
            %tr
              %td
                %h5
                  DOUBLE ESPRESSO
              %td
                4
            %tr
              %td
                %h5
                  Single Cappuccino
              %td
                4
            %tr
              %td
                %h5
                  Double Cappuccino
              %td
                5
            %tr
              %td
                %h5
                  Single Latte
              %td
                4
            %tr
              %td
                %h5
                  Double Latte
              %td
                5
        %table.menu{cellspacing: '0', cellpadding: '0'}
          %thead
            %th{colspan: '2'}
              Tea
              %p Davidson’s Organic
          %tbody
            %tr
              %td
                %h5
                  Earl Grey
              %td
                3
            %tr
              %td
                %h5
                  Irish Breakfast
              %td
                3
            %tr
              %td
                %h5
                  English Breakfast
              %td
                3
            %tr
              %td
                %h5
                  Green
              %td
                3
            %tr
              %td
                %h5
                  Jasmine
              %td
                3
            %tr
              %td
                %h5
                  Chamomile
              %td
                3
        = image_tag 'images/stamp.png', class: 'stamp'
    %aside
      %nav.menu-nav
        %ul
          %li
            = link_to 'Dinner', '/dinner.html'
          %li
            = link_to 'Lunch', '/lunch.html'
          %li
            = link_to 'Brunch', '/brunch.html'
          %li
            = link_to 'Dessert', '/dessert.html', class: 'active'
          %li
            = link_to 'Drink', '/drink.html'
          %li
            = link_to 'Happy Hour', '/happy-hour.html'
          %li
            = link_to 'On the Go', '/togo.html'


= partial 'refills/opentable'

= partial 'refills/footer'
