= partial 'refills/nav'

%section.dinner
  .wrapper
    %aside
      %h2.heading
        Dinner
    %article

%section.main-content
  .wrapper
    %article
      %p
        %i
          Menu items are subject to change based on seasonality and availability. Please call the restaurant for the most up-to-date menus and daily specials.
      %br
      %figure
        %table.menu{cellspacing: '0', cellpadding: '0'}
          %thead
            %th{colspan: '2'} Starters &amp; Sides
          %tbody
            %tr
              %td
                %h5
                  Marinated Olives
                  %span GF
                  %span V+
                %p mixed olives, garlic oil, orange zest, chives
              %td
                6
              %tr
                %td
                  %h5
                    Herbed Ricotta
                    %span V
                  %p fig compote, grilled ciabatta bread
                %td
                  10
              %tr
                %td
                  %h5
                    Caprese
                    %span GF
                    %span V
                  %p
                    baby heirloom tomatoes, basil, balsamic reduction, house infused olive oil
                    %br
                    %i
                      %strong add
                      proscuitto 5  / shrimp 7 / chicken 6
                %td
                  10
              %tr
                %td
                  %h5
                    BURRATA
                    %span GF*
                    %span V*
                  %p
                    baby heirloom tomatoes, basil, balsamic reduction, house infused olive oil
                %td
                  16
              %tr
                %td
                  %h5
                    Meatballs
                  %p tomato-basil sauce, parmesan, grilled ciabatta bread
                %td
                  10
              %tr
                %td
                  %h5
                    Gambas Al Ajillo
                    %span GF
                  %p shrimp, garlic, chili
                %td
                  12
              %tr
                %td
                  %h5
                    Sautéed Calamari
                    %span GF*
                  %p Israeli cous cous, tomato, capers, kalamata olive, lemon zest
                %td
                  14
              %tr
                %td
                  %h5
                    SAUTÉED MUSSELS AND CLAMS
                    %span GF*
                  %p white wine, garlic, shallots, lemon, butter, herbs
                %td
                  16
                  %br
                  24
              %tr
                %td
                  %h5
                    Patatas Bravas
                    %span GF
                    %span V+*
                  %p fried fingerling potatoes, spicy paprika, aioli
                %td
                  6
              %tr
                %td
                  %h5
                    Parmesan Truffle Fries
                    %span V+*
                  %p truffle, parmesan, aioli
                %td
                  9
              %tr
                %td
                  %h5
                    Risotto
                    %span GF
                    %span V
                  %p butternut squash, parmesan,  sage
                %td
                  9
              %tr
                %td
                  %h5
                    Broccolini
                    %span GF
                    %span V+*
                  %p garlic, shallots, lemon
                %td
                  8
              %tr
                %td
                  %h5
                    BRUSSELS SPROUTS
                    %span GF
                    %span V+*
                  %p bacon, mushroom, walnuts, apricots
                %td
                  12
        %table.menu{cellspacing: '0', cellpadding: '0'}
          %thead
            %th{colspan: '2'}
              Soups &amp; Salads
              %p
                %i
                  %strong add
                  chicken 6 / shrimp 7 / scallops 8 / fish 8 / steak 8
          %tbody
            %tr
              %td
                %h5
                  BUTTERNUT SQUASH SOUP
                  %span GF
                  %span V+*
                %p
                  apples, bacon, pomegranate molasses, creme fraiche, sage
              %td
                6
                %br
                12
            %tr
              %td
                %h5
                  TUSCAN BEAN AND KALE SOUP
                  %span GF
                  %span V
                %p tomatoes, parmesan, herbs
              %td
                6
                %br
                12
            %tr
              %td
                %h5
                  Bibb Salad
                  %span GF*
                  %span V+*
                %p apples, brie, marcona almonds, sherry-shallot vinaigrette
              %td
                8
                %br
                12
            %tr
              %td
                %h5
                  Roasted Pear Salad
                  %span GF
                  %span V*
                %p candied walnuts, goat cheese, bacon, red onion, dried cranberries, balsamic vinaigrette
              %td
                8
                %br
                12
            %tr
              %td
                %h5
                  Citrus Marinated Beet Salad
                  %span GF
                  %span V+*
                %p arugula, endive, goat cheese, orange segments, marcona almond
              %td
                8
                %br
                12
      %figure
        %table.menu{cellspacing: '0', cellpadding: '0'}
          %thead
            %th{colspan: '2'}
              Pizzas
          %tbody
            %tr
              %td
                %h5
                  Traditional Margherita
                  %span V
                %p
                  house-made mozzarella, san marzano tomato, fresh basil
              %td
                15
              %tr
                %td
                  %h5
                    Fungi
                    %span V
                  %p roasted mushrooms, truffle, fontina
                %td
                  16
              %tr
                %td
                  %h5
                    Soppressata
                  %p Italian dry salami, fried egg, house-made mozzarella, san marzano tomato
                %td
                  17
        %table.menu{cellspacing: '0', cellpadding: '0'}
          %thead
            %th{colspan: '2'}
              Pastas
              %p
                %i
                  %strong add
                  chicken 6 / shrimp 7 / scallops 8 / fish 8 / steak 8
          %tbody
            %tr
              %td
                %h5
                  House-made Fettuccini
                  %span V
                %p
                  tomato cream sauce, fresh basil
              %td
                21
              %tr
                %td
                  %h5
                    House-Made Ravioli
                    %span V
                  %p herbed ricotta ravioli, eggplant caponata, smoked eggplant puree, ricotta salata, pine nuts
                %td
                  16
                  %br
                  24
              %tr
                %td
                  %h5
                    ORECCHIETTE
                  %p pork ragu, broccolini, pine nuts
                %td
                  18
                  %br
                  25
        %table.menu{cellspacing: '0', cellpadding: '0'}
          %thead
            %th{colspan: '2'} Entrées
          %tbody
            %tr
              %td
                %h5
                  Scallops
                  %span GF
                %p butternut squash risotto, parmesan, sage
              %td
                20
                %br
                30
            %tr
              %td
                %h5
                  Salmon
                  %span GF
                %p braised lentils, bacon, pearl onions, parsnip puree
              %td
                26
            %tr
              %td
                %h5
                  SICILIAN FISHERMAN’S STEW
                  %span GF*
                %p shrimp, mussels, clams, calamari, crab, tomato fennel-broth, grilled bread
              %td
                30
            %tr
              %td
                %h5
                  House Smoked Chicken
                  %span GF
                %p roasted brussels sprouts, mushrooms, bacon, apricots, walnuts, truffle
              %td
                25
            %tr
              %td
                %h5
                  PORK SHANK OSSO BUCCO
                  %span GF
                %p
                  parmesan and herb polenta, autumn vegetables
              %td
                30
            %tr
              %td
                %h5
                  Braised Short Rib
                %p mushroom and winter squash barley risotto
              %td
                28
            %tr
              %td
                %h5
                  Grilled Hanger Steak
                  %span GF
                %p broccolini, fingerling potatoes, bacon, mushrooms, truffle
              %td
                27
            %tr
              %td
                %h5
                  SAUTÉED MUSSELS AND CLAMS
                  %span GF*
                %p white wine, garlic, shallots, lemon, butter, herbs
              %td
                24

        = image_tag 'images/stamp.png', class: 'stamp'

    %aside
      %nav.menu-nav
        %ul
          %li
            = link_to 'Dinner', '/dinner.html', class: 'active'
          %li
            = link_to 'Lunch', '/lunch.html'
          %li
            = link_to 'Brunch', '/brunch.html'
          %li
            = link_to 'Dessert', '/dessert.html'
          %li
            = link_to 'Drink', '/drink.html'
          %li
            = link_to 'Happy Hour', '/happy-hour.html'
          %li
            = link_to 'On the Go', '/togo.html'


= partial 'refills/opentable'

= partial 'refills/footer'
