= partial 'refills/nav'

%section.dinner
  .wrapper
    %aside
      %h2.heading
        Dinner
    %article

%section.main-content
  .wrapper
    %article
      %p
        %i
          Menu items are subject to change based on seasonality and availability. Please call the restaurant for the most up-to-date menus and daily specials.
      %br
      %figure
        %table.menu{cellspacing: '0', cellpadding: '0'}
          %thead
            %th{colspan: '2'} Starters &amp; Sides
          %tbody
            %tr
              %td
                %h5
                  Marinated Olives
                  %span GF
                  %span V+
                %p mixed olives, garlic oil, orange zest, chives
              %td
                6
              %tr
                %td
                  %h5
                    Herbed Ricotta
                    %span V
                  %p fig compote, grilled ciabatta bread
                %td
                  10
              %tr
                %td
                  %h5
                    Buratta Caprese
                    %span GF*
                    %span V*
                  %p
                    buratta with marinated heirloom tomatoes, basil, proscuitto, grilled ciabatta
                %td
                  16
              %tr
                %td
                  %h5
                    Meatballs
                  %p tomato-basil sauce, parmesan, grilled ciabatta bread
                %td
                  10
              %tr
                %td
                  %h5
                    Gambas Al Ajillo
                    %span GF
                  %p shrimp, garlic, chili
                %td
                  12
              %tr
                %td
                  %h5
                    Sautéed Calamari
                    %span GF*
                  %p Israeli cous cous, tomato, capers, kalamata olive, lemon&nbsp;zest
                %td
                  14
              %tr
                %td
                  %h5
                    SAUTÉED MUSSELS AND CLAMS
                    %span GF*
                  %p smoked onions, fennel, mascarpone, potatoes, garlic bread
                %td
                  16
              %tr
                %td
                  %h5
                    Patatas Bravas
                    %span GF
                    %span V+*
                  %p fried fingerling potatoes, spicy paprika, aioli
                %td
                  6
              %tr
                %td
                  %h5
                    Parmesan Truffle Fries
                    %span V+*
                  %p truffle, parmesan, aioli
                %td
                  9
              %tr
                %td
                  %h5
                    Broccolini
                    %span GF
                    %span V+*
                  %p garlic, shallots, lemon
                %td
                  9
              %tr
                %td
                  %h5
                    Risotto
                    %span V+*
                    %span GF
                  %p mushroom and spring pea
                %td
                  9
        %table.menu{cellspacing: '0', cellpadding: '0'}
          %thead
            %th{colspan: '2'}
              Soups &amp; Salads
              %p
                %i
                  %strong add
                  chicken 6 / shrimp 7 / scallops 9 / salmon 9 / steak 10
          %tbody
            %tr
              %td
                %h5
                  CORN AND CRAB CHOWDER
                  %span GF
                  %span V*
                %p
                  bacon, potatoes, cream, crab
              %td
                6
                %br
                12
            %tr
              %td
                %h5
                  Gazpacho
                  %span GF
                  %span V+*
                %p chilled tomato soup, shrimp escabeche, cilantro
              %td
                6
                %br
                12
            %tr
              %td
                %h5
                  WEDGE SALAD
                  %span GF
                  %span V*
                %p romaine, baby heirloom tomatoes, bacon, red onion, blue cheese
              %td
                9
                %br
                12
            %tr
              %td
                %h5
                  Citrus Marinated Beet Salad
                  %span GF
                  %span V+*
                %p arugula, endive, goat cheese, orange segments, marcona almond
              %td
                8
                %br
                12
            %tr
              %td
                %h5
                  WATERMELON, FETA, AND HEIRLOOM TOMATO SALAD
                  %span GF
                  %span V+*
                %p pickled red onion, mint, balsamic reduction
              %td
                9
                %br
                12
      %figure
        %table.menu{cellspacing: '0', cellpadding: '0'}
          %thead
            %th{colspan: '2'}
              Pizzas
          %tbody
            %tr
              %td
                %h5
                  Traditional Margherita
                  %span V
                  %span GF*
                %p
                  house-made mozzarella, san marzano tomato, fresh basil
              %td
                15
              %tr
                %td
                  %h5
                    Fungi
                    %span V
                    %span GF*
                  %p roasted mushrooms, truffle, fontina
                %td
                  16
              %tr
                %td
                  %h5
                    Soppresata
                    %span GF*
                  %p Italian dry salami, fried egg, house-made mozzarella, san marzano tomato
                %td
                  17
        %table.menu{cellspacing: '0', cellpadding: '0'}
          %thead
            %th{colspan: '2'}
              Pastas
              %p
                %i
                  %strong add
                  chicken 6 / shrimp 7 / scallops 9 / salmon 9 / steak 10
          %tbody
            %tr
              %td
                %h5
                  House-made Fettuccini
                  %span V
                  %span GF*
                %p
                  tomato cream sauce, fresh basil
              %td
                21
              %tr
                %td
                  %h5
                    House-Made Ravioli
                    %span V
                  %p parmesan-truffle cream sauce, mushrooms, kale, leeks,  peas, asparagus
                %td
                  16
                  %br
                  24
              %tr
                %td
                  %h5
                    ORECCHIETTE
                    %span GF*
                  %p pork ragu, broccolini, pine nuts
                %td
                  18
                  %br
                  25
              %tr
                %td
                  %h5
                    SPAGHETTI
                    %span GF*
                  %p parmesan cream, corn, crab, tomatoes, peas, spinach, bacon
                %td
                  26
        %table.menu{cellspacing: '0', cellpadding: '0'}
          %thead
            %th{colspan: '2'} Entrées
          %tbody
            %tr
              %td
                %h5
                  Scallops
                  %span GF
                %p mushroom and spring pea risotto, parmesan and truffle
              %td
                20
                %br
                30
            %tr
              %td
                %h5
                  Salmon
                  %span GF
                %p florida sweet corn succatash, corn puree, heirloom tomatoes, bacon, green beans, fingerling potatoes
              %td
                26
            %tr
              %td
                %h5
                  SICILIAN FISHERMAN’S STEW
                  %span GF*
                %p shrimp, mussels, clams, calamari, crab, tomato-fennel broth, grilled bread
              %td
                30
            %tr
              %td
                %h5
                  SAUTÉED MUSSELS AND CLAMS
                  %span GF*
                %p smoked onions, fennel, mascarpone, potatoes, garlic bread
              %td
                24
            %tr
              %td
                %h5
                  Smoked Chicken
                  %span GF*
                %p grilled asparagus, fingerling potatoes, ricotta salata, romesco sauce
              %td
                25
            %tr
              %td
                %h5
                  Smoked Short Rib
                  %span GF*
                %p israeli cous cous, spring peas, mushrooms, pearl onions, roasted tomatoes
              %td
                28
            %tr
              %td
                %h5
                  Grilled Hanger Steak
                  %span GF
                %p broccolini, mushrooms, fingerlings, bacon, truffle bordelaise
              %td
                27
            %tr
              %td
                %h5
                  Whole Roasted Carrot
                  %span GF
                  %span V
                  %span V+*
                %p roasted carrot, quinoa, broccolini, cumin-dusted yogurt
              %td
                20

        = image_tag 'images/stamp.png', class: 'stamp'

    %aside
      %nav.menu-nav
        %ul
          %li
            = link_to 'Dinner', '/dinner.html', class: 'active'
          %li
            = link_to 'Lunch', '/lunch.html'
          %li
            = link_to 'Brunch', '/brunch.html'
          %li
            = link_to 'Dessert', '/dessert.html'
          %li
            = link_to 'Drink', '/drink.html'
          %li
            = link_to 'Happy Hour', '/happy-hour.html'
          %li
            = link_to 'On the Go', '/togo.html'


= partial 'refills/opentable'

= partial 'refills/footer'
