= partial 'refills/nav'

%section.happy-hour
  .wrapper
    %aside
      %h2.heading
        Happy Hour
    %article

%section.main-content
  .wrapper
    %article
      %figure
        %table.menu{cellspacing: '0', cellpadding: '0'}
          %thead
            %th{colspan: '2'} HAPPY DRINKS
          %tbody
            %tr
              %td.inverse{colspan: '2'}
                %h5
                  HAPPY HOUR IS MONDAY THROUGH FRIDAY 4PM-7PM
            %tr
              %td
                %h5
                  SPECIALTY COCKTAILS
                %p please see drink menu for selections
              %td
                8
              %tr
                %td
                  %h5
                    PREMIUM WELL SPIRITS
                  %p please your server for selections
                %td
                  5
              %tr
                %td
                  %h5
                    DRAFT BEERS
                  %p please see drink menu for selections
                %td
                  5
              %tr
                %td.inverse{colspan: '2'}
                  %h5
                    WHITES
              %tr
                %td
                  %h5
                    bonpas ‘luberon’
                  %p
                    grenache blanc, clairette, & vermentino, rhone valley, france 2012
                %td
                  5
              %tr
                %td
                  %h5
                    Bedrock Wine Co. ‘Shebang’
                  %p white cuvee ii (60% pinot gris, 25% muscadelle/semillon, 15% sauvignon blanc), north coast, california, nv
                %td
                  5
              %tr
                %td.inverse{colspan: '2'}
                  %h5
                    Reds
              %tr
                %td
                  %h5
                    luzon verde
                  %p 100% monastrell, jumilla, spain, 2011
                %td
                  5
              %tr
                %td
                  %h5
                    Bedrock Wine Co. ‘Shebang’
                  %p sixth cuvee red blend, north coast, california, nv
                %td
                  5
              %tr
                %td
                  %h5
                    bonpas cÔte-du-rhÔne
                  %p grenache & syrah, rhone valley, france 2011
                %td
                  5
      %figure
        %table.menu{cellspacing: '0', cellpadding: '0'}
          %thead
            %th{colspan: '2'} HAPPY BITES
          %tbody
            %tr
              %td.inverse{colspan: '2'}
                %h5
                  HAPPY HOUR IS MONDAY THROUGH FRIDAY 4PM-7PM
            %tr
              %td
                %h5
                  MARINATED OLIVES
                  %span GF
                %p
                  mixed olives, garlic oil, orange zest
              %td
                5
            %tr
              %td
                %h5
                  HERBED RICOTTA
                %p fig compote, grilled ciabatta bread
              %td
                5
              %tr
                %td
                  %h5
                    PATATAS BRAVAS
                    %span GF
                  %p fried fingerling potatoes, spicy paprika, aioli
                %td
                  5
              %tr
                %td
                  %h5
                    PARMESAN TRUFFLE FRIES
                  %p truffle, parmigiano-reggiano, aioli
                %td
                  5
              %tr
                %td
                  %h5
                    GAMBAS AL AJILLO
                    %span GF
                  %p shrimp, garlic, chili
                %td
                  7

    %aside
      %nav.menu-nav
        %ul
          %li
            = link_to 'Dinner', '/dinner.html'
          %li
            = link_to 'Lunch', '/lunch.html'
          %li
            = link_to 'Brunch', '/brunch.html'
          %li
            = link_to 'Dessert', '/dessert.html'
          %li
            = link_to 'Drink', '/drink.html'
          %li
            = link_to 'Happy Hour', '/happy-hour.html', class: 'active'
          %li
            = link_to 'On the Go', '/togo.html'


= partial 'refills/opentable'

= partial 'refills/footer'
