= partial 'refills/nav'

= partial 'refills/hero-covid'

%section.menus
  .wrapper
    %header
      %h2.f2 Modern interpretations of classic recipes — that’s the Taverna philosophy, in the kitchen and behind the bar.
      %p Authentic Italian ingredients, seasonal produce, and meats from local purveyors all coexist beautifully on Chef Sam Efron’s menus. The beverage selection is equally refreshing; guests are encouraged to explore Kiley Wynne Efron’s Wine Spectator award-winning wine list, sample a regional craft beer or indulge in a handcrafted cocktail to complete their Taverna experience.
    %article
      .thumbs
        .thumb
          = image_tag 'images/menu-thumb-1.jpg'
        .thumb
          = image_tag 'images/menu-thumb-2.jpg'
        .thumb
          = image_tag 'images/menu-thumb-3.jpg'
        .thumb
          = image_tag 'images/menu-thumb-4.jpg'
        .thumb
          = image_tag 'images/menu-thumb-5.jpg'
        .thumb
          = image_tag 'images/menu-thumb-6.jpg'

= partial 'refills/footer'
