= partial 'refills/nav'

%section.pdr
  .wrapper
    %aside
      %h2.heading
        Private
        %br
        Dining
    %article

%section.main-content
  .wrapper
    %article
      %h1 Make us your home for special events
      %p Book our private dining room and we’ll make sure you and your guests are well fed, whatever the occasion.
      %p Dine with your guests in an elegant private setting and enjoy a dedicated service team and menu packages for every price range. Our private dining room is equipped with a 70-inch flat screen TV, WIFI access, Blue Ray, Apple TV and a state of the art audio system. A rustic floor-to-ceiling barn door separates the room from the rest of the restaurant and gives you a truly exclusive dining experience. In addition, we offer customized floor plans and seating to suit the style of your event.
      %p Spend your next special occasion with us!
      %h3 Seating arrangements
      %p
        Need a visual? Download our
        = link_to 'private dining PDF', '/downloads/private-dining-arrangements-2019.pdf'
        to view available room arrangement options.
    %aside
      %h3 Request an event
      %p
        Please fill out our
        =link_to 'event request form', 'https://taverna.tripleseat.com/party_request/3652'
        and our coordinator will be in touch shortly to schedule your next private dining experience.

= partial 'refills/instagram'

= partial 'refills/opentable'

= partial 'refills/footer'
